<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bolsista.novatentativa">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_equinos3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cadastros.Gerenciar"></activity>
        <activity android:name=".othersActivities.SessaoExpecifica" />
        <activity android:name=".othersActivities.Relatorio" />
        <activity android:name=".graficos.GraficoLinha" />
        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".othersActivities.ExperimentosFinalizados"
            android:parentActivityName=".arquitetura.Definir" />
        <activity
            android:name=".othersActivities.ExperimentosAndamento"
            android:parentActivityName=".arquitetura.Definir" />
        <activity
            android:name=".othersActivities.Sessoes"
            android:parentActivityName=".othersActivities.ExperimentoExpecifico" />
        <activity
            android:name=".othersActivities.ExperimentoExpecifico"
            android:parentActivityName=".arquitetura.Definir" />
        <activity android:name=".Resultado" />
        <activity android:name=".NovoExperimento" />
        <activity android:name=".cadastros.CadastrarEquino" />
        <activity android:name=".arquitetura.Remoto" />
        <activity
            android:name=".Jogar"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".ControleRemoto" />
        <activity android:name=".cadastros.ConfigurarTeste" />
        <activity android:name=".arquitetura.Definir">

            <!-- sldfsdfasdf -->
        </activity>
        <activity android:name=".arquitetura.Servidor" />
        <activity android:name=".arquitetura.ClienteActivity" />
    </application>

</manifest>